<h1>Home page of staff</h1>

<p><%= link_to 'Request Medicine', request_medicine_path %></p>
<p><%= link_to 'Dispense Medicine', dispense_medicine_path %></p>
<p><%= link_to 'Upload Medicine', upload_medicine_path %></p>
